<div class="container">

  <div class="row mt-5 d-flex flex-row justify-content-evenly">

    <div class="card" style="width: 18rem;">
      <img
        src="https://cf.geekdo-images.com/kjCm4ZvPjIZxS-mYgSPy1g__imagepagezoom/img/XMJcthqDMCK1NQl04WW33U2Zy5c=/fit-in/1200x900/filters:no_upscale():strip_icc()/pic7013651.jpg"
        class="card-img-top mt-3" alt="Image for Card">
      <div class="card-body">
        <h5 class="card-title">懶人包預設 Card</h5>
        <p class="card-text">這是懶人包的 index.hbs。點選下列按鈕前往 Bootstrap Cards 官方文件
        </p>
        <a href="https://getbootstrap.com/docs/5.2/components/card/#about" class="btn btn-primary">Bootstrap Cards</a>
      </div>
    </div>

    <div class="row for-dummies">
      <p>看到這個豆綠色色塊表示懶人包正在使用 express.static 提供的靜態CSS檔</p>
      <a href="/users/login" class="btn btn-secondary">登入</a>
    </div>
  </div>

</div>